
*.xml

Reagent Game Jam 2025/.idea/.idea.Reagent Game Jam 2025/.idea/

Reagent Game Jam 2025/UserSettings/EditorUserSettings.asset

*.dwlt

Reagent Game Jam 2025/UserSettings/Layouts/default-6000.dwlt
